%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Categories
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td
          = product.name
        %td
          = product.description
        %td
          = product.product_categories.collect{|pc| "<a href='/products?c=#{pc.category.id}' data-remote=true>##{pc.category.name}</a>"}.join(", ").html_safe
        %td
          = link_to 'Show', product
        %td
          = link_to 'Edit', edit_product_path(product)
        %td
          = link_to 'Destroy', product, data: { confirm: 'Are you sure?' }, method: :delete
